<section id="about">
  <div class="container">
    <h2>ABOUT</h2>
    <h3>Lorem ipsum dolor sit amet.</h3>
    <ul>
      <li>
        <div class="row">
          <div class="col-md-5 text-right">
            <h4>2009-2011 </br>
              Our Humble Begginings</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div class="col-md-2 text-center">
            <%= image_tag("https://farm5.staticflickr.com/4386/37060519312_4eb1782b87_k.jpg", :class => 'about-picture')%>
            <div class="timeline">
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-md-5">
          </div>
          <div class="col-md-2 text-center">
            <%= image_tag("https://i.imgur.com/gxppF1S.jpg", :class => 'about-picture')%>
            <div class="timeline">
            </div>
          </div>
          <div class="col-md-5">
            <h4>AUGUST 2014 </br>
              An Agency Is Born</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-md-5 text-right">
            <h4>SEPTEMBER 2016 </br>
              Transition to Full Service</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div class="col-md-2 text-center">
            <%= image_tag("https://i.pinimg.com/564x/43/c6/75/43c675a060bca3cd117ca57bf33820b2.jpg", :class => 'about-picture')%>
            <div class="timeline">
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-md-5">
          </div>
          <div class="col-md-2 text-center">
            <%= image_tag("http://4.bp.blogspot.com/-xjXxqva_xXw/UoJVIsVPmgI/AAAAAAAAFaI/VR68RZhQkl8/s1600/Cats+Eye+Nebula+Wallpaper3.jpg", :class => 'about-picture')%>
            <div class="timeline">
            </div>
          </div>
          <div class="col-md-5">
            <h4>OCTOBER 2018 </br>
              Expansion</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
          </div>
        </div>
      </li>
      <li>
        <div class="col-md-5">
        </div>
        <div class="col-md-2 text-center">
          <div class="well timeline-last">
            <h4>BE PART </br>
              OF OUR </br>
              STORY!</h4>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>