<section id="contact" class="contact-section">
  <div class="container text-center">
    <h2>CONTACT US</h2>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur.</p>
      <div class="row">
        <div class="col-md-6">
          <%= text_field :name, "", class: "form-control", placeholder: "Your Name *" %>
          <%= text_field :email, "", class: "form-control", placeholder: "Your Email *" %>
        </div>
        <div class="col-md-6">
          <%= text_area :message, "", class:"form-control", placeholder: "Your Message *" %>
        </div>
      </div>
      <%= link_to "SEND MESSAGE", href="#", class: 'btn btn-warning btn-lg'%>
  </div>
</section>