<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p>Copyright © MaximePeterburg 2018</p>
      </div>
      <div class="col-md-4 text-center">
        <%= link_to("https://twitter.com/") do %>
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        <% end %>
        <%= link_to("https://discordapp.com/") do %>
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-discord fa-stack-1x fa-inverse"></i>
          </span>
        <% end %>
      </div>
      <div class="col-md-4">
        <p><%= link_to "Privacy Policy", '#', class: 'footer-link' %>     <%= link_to "Terms of Use", '#', class:'footer-link' %></p>
      </div>
    </div>
  </div>
</footer>