/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

html{
  scroll-behavior: smooth;
}

.navbar{
  background-color: black;
  border-bottom: 0px;
}
.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 200%;
}
.navbar-right li{
  font-weight: 800;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a  {
    color: #fed136;
    &:hover{
        color:#fed136;
        opacity: 0.75;
    }
}
.nav-pills li a{
  color: white;
  margin: 5px 0px;
  &:hover{
    background-color: #fed136;
  }
}

body{
  position: relative;
}
header{
  background-image: url(https://i.imgur.com/VTxhQh6.jpg);
  width: 100%;
  background-size: cover;
  background-position: center center;
  padding-bottom: 225px;
  padding-top: 20px;
}
.home-callout{
  color: white;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-top: 225px;
}
// Typography styles
h4{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
h3{
  font-family: 'EB Garamond', serif;
  text-align: center;
  font-style: italic;
  margin-bottom: 75px;
}
h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
}
p{
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  margin-top: 20px;
}
.intro-lead-in {
  font-family: 'Cabin', sans-serif;
  font-style: italic;
  font-size: 300%;
}
.intro-heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 500%;
}
section{
  margin-bottom: 200px;
}
.uneven-section{
  background-color: lightgrey;
  padding-bottom: 200px;
  margin-bottom: 0;
}
footer{
  margin: 25px 0px;
}

footer .fa-stack{
  color: black;
}
.footer-link{
  color: #fed136;
}