.form-control{
  margin-bottom: 20px;
}

textarea.form-control {
  height: 200px;
}
.contact-section{
  background-image: url(https://i.imgur.com/2aAUmJq.jpg);
  margin-bottom: 0px;
  padding-bottom: 200px;
}
.contact-section p, .contact-section h2{
  color:white;
}